@model Web.Models.Contact

@{
    ViewBag.Title = "AdrenalinaBit";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adrenalina MKT&amp;IT</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../Content/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Adrenalina MKT&amp;IT</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Inicio</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>Acerca de Nosotros</a>
            </li>
            <li>
                <a href="#products" onclick=$("#menu-close").click();>Productos</a>
            </li>
            <li>
                <a href="#services" onclick=$("#menu-close").click();>Servicios</a>
            </li>
            <li>
                <a href="#demo" onclick=$("#menu-close").click();>Demo</a>
            </li>
            <li>
                <a href="#workProcess" onclick=$("#menu-close").click();>Proceso de Trabajo</a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>Contacto</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Adrenalina MKT&amp;IT</h1>
            <h3>Soluciones de Marketing &amp; IT</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Ver m&aacute;s</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Construimos soluciones confiables de marketing y tecnología, diseñadas estratégicamente junto a cada compañia que confia en nosotros, a la medida de cada negocio y necesidad, para quienes buscan diferenciarse y capitalizar las oportunidades del mercado de manera sustentable.</h2>
                    <p class="lead">En la era digital la soluciones tecnologicas son el principal canal de ventas. Lo digital es el nuevo medio para el recorrido de las comunicaciones, la publicidad, el entretenimiento y la información. Por eso, tanto Empresas como personas, buscan contar con una solución más creativa y eficaz. Y alli nosotros queremos ofrecerle a su organización la ayuda para personalizar los contenidos orientados a una mayor captación de la atención de los consumidores con nuevos sistemas multimedia. </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Products -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="#products" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Nuestros Productos</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Producto 1</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-compass fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Producto 2</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-flask fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Producto 3</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-shield fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Producto 4</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Nuestros Servicios</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Servicio 1</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-compass fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Servicio 2</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-flask fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Servicio 3</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-shield fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Servicio 4</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Construimos Soluciones Confiables</h1>
        </div>
    </aside>

    <!-- Demo -->
    <section id="demo" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Nuestros Trabajos</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="Images/portfolio-1.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="Images/portfolio-2.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="Images/portfolio-3.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="Images/portfolio-4.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">View More Items</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="workProcess" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Nuestro Proceso de Trabajo</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-users fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Paso 1</strong>
                                </h4>
                                <p>Entrevista.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-line-chart fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Paso 2</strong>
                                </h4>
                                <p>Consultoría / Asesoramiento, Diagnóstico.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Paso 3</strong>
                                </h4>
                                <p>Presentaci&oacute;n del Proyecto.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-laptop fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Paso 4</strong>
                                </h4>
                                <p>Implementaci&oacute;n.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-wrench fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Paso 5</strong>
                                </h4>
                                <p>Trackeo y Seguimiento.</p>
                                <a href="#" class="btn btn-light">Ver M&aacute;s</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Panel con accesos directos.</h3>
                    <a href="#" class="btn btn-lg btn-light">Clic 1!</a>
                    <a href="#" class="btn btn-lg btn-dark">Clic 2!</a>
                </div>
            </div>
        </div>
    </aside>

    <section id="contact" class="map">

        <!-- Page Content -->
        <div class="container">

            <!-- Content Row -->
            <div class="row">
                <!-- Map Column -->
                <div class="col-md-8">
                    <!-- Embedded Google Map -->
                    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1952.8222972015865!2d-58.37058280692471!3d-34.598027990785326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7637a9cad349339!2sIBM+Argentina!5e0!3m2!1ses-419!2sar!4v1476897709014"></iframe>
                </div>
                <!-- Contact Details Column -->
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <h4>
                                <strong>Adrenalina MKT&amp;IT&copy;</strong>
                            </h4>
                            <p>
                                Ing Enrique Butty 275
                                <br>C1001AFA Ciudad Aut&oacute;noma de Buenos Aires, Argentina
                            </p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-phone fa-fw"></i> (+54) 11-1234-5678</li>
                                <li>
                                    <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:info@adrenalina-mkt.com.ar">info@adrenalina-mkt.com</a>
                                </li>
                            </ul>
                            <br>
                            <ul class="list-inline">
                                <li>
                                    <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Contact Form -->
            <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
            <div class="row">
                <div class="col-md-12">
                    <h3>Dejanos un mensaje</h3>
                    
                    @using (Html.BeginForm("HandleForm", "Contact"))
                    {

                    <!--<form name="sentMessage" id="contactForm" novalidate>-->
                        <div class="control-group form-group">
                            <div class="controls">
                                @Html.LabelFor(contact => contact.Name, new { @class = "control-label" })
                                @Html.ValidationMessageFor(contact => contact.Name)
                                @Html.TextBoxFor(contact => contact.Name, new { @class = "form-control" })
                                @*<label>Nombre Completo:</label>
                                <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block"></p>*@
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                @Html.LabelFor(contact => contact.Phone, new { @class = "control-label" })
                                @Html.ValidationMessageFor(contact => contact.Phone)
                                @Html.TextBoxFor(contact => contact.Phone, new { @class = "form-control" })
                                @*<label>Tel&eacute;fono:</label>
                                <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">*@
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                @Html.LabelFor(contact => contact.Email, new { @class = "control-label" })
                                @Html.ValidationMessageFor(contact => contact.Email)
                                @Html.TextBoxFor(contact => contact.Email, new { @class = "form-control" })
                                @*<label>Mail:</label>
                                <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">*@
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                @Html.LabelFor(contact => contact.Message, new { @class = "control-label" })
                                @Html.ValidationMessageFor(contact => contact.Message)
                                @Html.TextAreaFor(contact => contact.Message, new { @class = "form-control" })
                                @*<label>Mensaje:</label>
                                <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>*@
                            </div>
                        </div>
                        <div id="success"></div>
                        <!-- For success/fail messages -->
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    <!-- </form> -->
                    }
                </div>
            </div>
            <!-- /.row -->
        </div>

    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Adrenalina MKT&amp;IT&copy; 2016</p>
                    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
                </div>
            </div>
        </div>
    </footer>
    
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <!-- jQuery -->
    <script src="Scripts\jquery-1.9.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="Scripts/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    @*<script src="Scripts/jqBootstrapValidation.js"></script>
    <script src="Scripts/contact_me.js"></script>*@

    <!-- Custom Theme JavaScript -->
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Scrolls to the selected menu item on the page
        $(function () {
            $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        //#to-top button appears after scrolling
        var fixed = false;
        $(document).scroll(function () {
            if ($(this).scrollTop() > 250) {
                if (!fixed) {
                    fixed = true;
                    // $('#to-top').css({position:'fixed', display:'block'});
                    $('#to-top').show("slow", function () {
                        $('#to-top').css({
                            position: 'fixed',
                            display: 'block'
                        });
                    });
                }
            } else {
                if (fixed) {
                    fixed = false;
                    $('#to-top').hide("slow", function () {
                        $('#to-top').css({
                            display: 'none'
                        });
                    });
                }
            }
        });
        // Disable Google Maps scrolling
        // See http://stackoverflow.com/a/25904582/1607849
        // Disable scroll zooming and bind back the click event
        var onMapMouseleaveHandler = function (event) {
            var that = $(this);
            that.on('click', onMapClickHandler);
            that.off('mouseleave', onMapMouseleaveHandler);
            that.find('iframe').css("pointer-events", "none");
        };
        var onMapClickHandler = function (event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }; // Enable map zooming with mouse scroll when the user clicks the map
        $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>